*{
    margin: 0;
    padding: 0;
}

header{
    padding-top: 3.8vh;
    background-color: rgb(89,11,43);
    border: 2px solid gold;
    text-align: center;
    padding-bottom: 2.5vw;
    font-size: 20px;
}

a{
    color: goldenrod;
}

article{
    width: 100vw;
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    
}

button:active{
    background-color: white;
    
    
}


.brasil{
    border: 1px none black;
    padding-right: 12vw;
    color: white
    
    
    
}

.espanha{
    border: 1px none black;
    padding-right: 12vw;
    color: white
   
    
}

.chile{
    border: 1px none black;
    padding-right: 12vw;
    color: white
   
   
}

.alemanha{
    border: 1px none black;
    padding-right: 12vw;
    color: white
    
}   

.italia{
    border: 1px none black;
    padding-right: 12vw;
    color: white
    
    
}

.uruguai{
    border: 1px none black;
    padding-right: 12vw;
    color: white
    
    
}

.frança{
    border: 1px none black;
    padding-right: 12vw;
    color: white
    
   
}

.argentina{
    border: 1px none black;
    padding-right: 12vw;
    color: white
    
   
}

.inglaterra{
    border: 1px none black;
    padding-right: 12vw;
    padding-bottom: 40px;
    color: white
    
}

footer{
    background-color: rgb(89,11,43);
    border: 2px solid gold;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 1vw;
    font-size: 20px;
   
    
}

footer, p{
    color: white
}


section{
    padding-left: 200px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(8, 2);
    grid-template-columns: 1fr;
    gap: 20px
    
}

main, div{
   background-color: rgb(89,11,43);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center center;
   object-fit: cover;
}

img{
    width: 34vw;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
h2{
    font-size: 14px;
    
}
footer{
    font-size: 18px;
    padding-left: 16vw;
    
    
}
header{
    font-size: 15px;
    padding-left: 20vw;
}
section{
    padding-right: 30vw;
}
article{
    width: 1vw;
    padding-left: 42vw;
    
}


}
   
@media screen and (min-device-width : 481px) and (max-device-width : 800px){

h2{
    font-size: 20px;
        
}
footer{
    font-size: 20px;
    padding-left: 10vw;
        
        
 }
header{
    font-size: 18px;
    padding-left: 2vw;
}
section{
    padding-left: 24vw;
}
article{
    width: 1vw;
    padding-left: 40vw;
        }

        

}

