*{
    margin: 0;
    padding: 0;
}

header{
    padding-top: 3.8vh;
    background-color: rgb(89,11,43);
    border: 2px solid gold;
    text-align: center;
    padding-bottom: 2.5vw;
    font-size: 20px;
    
}

a{
    color: goldenrod;
}

article{
    width: 90vw;
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    padding-left: 4vw;
    
}

button:active{
    background-color: white;
    
    
}


.brasil{
    border: 1px none black;
    background-color: rgb(89,11,43);
    padding-right: 6vw;
    padding-left: 6vw;
    padding-bottom: 2vw;
    color: white;
    border-radius: 20px;
    margin-right: 12vw;
    
}

.espanha{
    border: 1px none black;
    background-color: rgb(89,11,43);
    padding-right: 6vw;
    padding-left: 6vw;
    padding-bottom: 2vw;
    color: white;
    border-radius: 20px;
    margin-right: 12vw;
}

.chile{
    border: 1px none black;
    background-color: rgb(89,11,43);
    padding-right: 6vw;
    padding-left: 6vw;
    padding-bottom: 2vw;
    color: white;
    border-radius: 20px;
    margin-right: 12vw;
   
}

.alemanha{
    border: 1px none black;
    background-color: rgb(89,11,43);
    padding-right: 6vw;
    padding-left: 6vw;
    padding-bottom: 2vw;
    color: white;
    border-radius: 20px;
    margin-right: 12vw;
}   

.italia{
    border: 1px none black;
    background-color: rgb(89,11,43);
    padding-right: 6vw;
    padding-left: 6vw;
    padding-bottom: 2vw;
    color: white;
    border-radius: 20px;
    margin-right: 12vw;
    
}

.uruguai{
    border: 1px none black;
    background-color: rgb(89,11,43);
    padding-right: 6vw;
    padding-left: 6vw;
    padding-bottom: 2vw;
    color: white;
    border-radius: 20px;
    margin-right: 12vw;
    
}

.frança{
    border: 1px none black;
    background-color: rgb(89,11,43);
    padding-right: 6vw;
    padding-left: 6vw;
    padding-bottom: 2vw;
    color: white;
    border-radius: 20px;
    margin-right: 12vw;
   
}

.argentina{
    border: 1px none black;
    background-color: rgb(89,11,43);
    padding-right: 6vw;
    padding-left: 6vw;
    padding-bottom: 2vw;
    color: white;
    border-radius: 20px;
    margin-right: 12vw;
   
}

.inglaterra{
    border: 1px none black;
    background-color: rgb(89,11,43);
    padding-right: 6vw;
    padding-left: 6vw;
    padding-bottom: 2vw;
    color: white;
    border-radius: 20px;
    margin-right: 12vw;
    margin-bottom: 4vh;
}

footer{
    background-color: rgb(89,11,43);
    border: 2px solid gold;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 1vw;
    font-size: 20px;
    padding-right: 2vw;
   
    
}

footer, p{
    color: white
}


section{
    padding-left: 200px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(8, 2);
    grid-template-columns: 1fr;
    gap: 20px
    
}

aside{
  position: fixed;
  right: 0;
  top: 50%;
  width: 9vw;
  margin-top: -7em;
  padding-right: 2vw;
  text-align: center;
  color: goldenrod;
  font-size: 22px;
  
}


main, div{
   
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center center;
   object-fit: cover;
}

img{
    width: 34vw;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
h2{
    font-size: 14px;
    
}
footer{
    font-size: 18px;
    padding-left: 4vw;
    
    
}
header{
    font-size: 15px;
    
}
section{

padding-left: 20vw;

    
}
article{
    width: 1vw;
    padding-left: 36vw;
    
}

aside{
    font-size: 16px;
    margin-top: -10em;
}


}
   
@media screen and (min-device-width : 481px) and (max-device-width : 800px){

h2{
    font-size: 20px;
        
}
footer{
    font-size: 20px;
    padding-left: 6vw;
        
        
 }
header{
    font-size: 18px;
    padding-left: 2vw;
}
section{
    padding-left: 16vw;
    
}
article{
    width: 1vw;
    padding-left: 36vw;
}


aside{
     font-size: 24px;
     margin-top: -6em;
}
        
        

}

@media screen and (min-device-width : 801px) and (max-device-width : 1200px){

    h2{
        font-size: 20px;
            
    }
    footer{
        font-size: 20px;
        padding-left: 6vw;
            
            
     }
    header{
        font-size: 18px;
        padding-left: 2vw;
    }
    section{
        padding-left: 16vw;
        
    }
    article{
        width: 1vw;
        padding-left: 36vw;
    }
    
    
    aside{
         font-size: 24px;
         margin-top: -6em;
    }
            
            
    
    }